<div class="orders view">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;All User Listings</h3>
    </header>
    <br />
      <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <!--<li data-ng-class="{active: !vm.listDisplayModeEnabled}" class="toolbaritem">
                            <a data-ng-click="vm.changeDisplayMode(vm.DisplayModeEnum.Card)">
                                <span class="glyphicon glyphicon-th-large"></span> Card View
                            </a>
                        </li>
                        <li data-ng-class="{active: vm.listDisplayModeEnabled}" class="toolbaritem">
                            <a data-ng-click="vm.changeDisplayMode(vm.DisplayModeEnum.List)">
                                <span class="glyphicon glyphicon-align-justify"></span> List View
                            </a>
                        </li>-->
                        <li class="toolbaritem">
                            <a data-ng-click="vm.navigate('/listingAdd')">
                                <span class="glyphicon glyphicon-plus"></span> Add Listing
                            </a>
                        </li>
                    </ul>
                 
                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                      
                      <label class="navbarText col-sm-5">Listing Type:</label>
                      
                      <select name="ListingTypes" class="form-control"
                              data-ng-model="vm.searchTextListingType"
                              data-ng-change="vm.searchTypeChanged()"
                              data-ng-options="listingType.type as listingType.type for listingType in vm.listingTypes">
                        <option value=""></option>
                   
                      </select>
                      <br />
                       <br />
                     
                      <label class="navbarText col-sm-2">Filter:</label>
                      <div class="col-sm-10">
                        <input type="text"
                               data-ng-model="vm.searchText"
                               data-ng-change="vm.searchTextChanged()"
                               class="novalidate form-control"/>
                      </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    
    </div>
   <div class="container">
  <div class="row">
    <table class="table table-hover table-striped table-condensed table-bordered ordersTable">
        <thead>
          <tr>
            <th data-ng-click="vm.setOrder('listing.creationTime')">Date</th>
            <th data-ng-click="vm.setOrder('listing.title')">Title</th>
            <th data-ng-click="vm.setOrder('listing.price')">Price</th>
            <th data-ng-click="vm.setOrder('firstName')">User</th>
            <!--<th data-ng-click="vm.setOrder('listing.listingType')">Type</th>-->
           
           
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="listing in vm.filteredListings | orderBy:vm.orderby:vm.reverse" class="repeat-animation">
            <td>{{listing.creationTime | date:'MM/dd/yyyy' }}</td>
            <td  width="50%" title ={{listing.description}}>{{ listing.title }}</td>
            <td>{{ listing.price | currency }}</td>
            <td><a href="#/userlistings/{{listing.userId}}">{{ listing.firstName + ' ' + listing.lastName}}</a></td>
            <!--<td width="10%">{{ listing.listing.listingType }}</td>-->
           
           
          </tr>
          <tr class="info">
            <td colspan="5">&nbsp;</td>
          </tr>
        </tbody>
      </table>
  </div>


      <div class="row show-hide-animation" data-ng-show="vm.filteredListings.length == 0">
        <div class="col-md-12">
          <h4>No Listings found</h4>
        </div>
      </div>
      <div class="row show-hide-animation" data-ng-show="vm.listings.length > 0" style="margin-left: 0px;">
        <div class="col-md-12">
          <div data-pagination
            data-on-select-page="vm.pageChanged(page)"
            data-total-items="vm.totalRecords"
            data-page="vm.currentPage"
            data-boundary-links="true"
            class="pagination-sm">
          </div>
          <h5>Showing {{ vm.filteredCount }} of {{ vm.totalRecords}} total listings</h5>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
</div>

